.button-container {
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
}
.add button {
    color:gold;
    height:50px;
    width:100px;
    background: -webkit-gradient(linear, left top, left bottom, from(red), to(white));
    
}
.roll button {
    color: skyblue;
    margin-left: 100px;
    height:50px;
    width:100px;
    background: -webkit-gradient(linear, left top, left bottom, from(blue), to(white));
}
.sum button {
    color: white;
    margin-left: 100px;
    height:50px;
    width:100px;
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(white));
}
    
.die {
    border:solid black;
    border-radius: 10px;
    height: 125px;
    width: 125px; 
    float: left;
    font-size: 75px; 
    text-align: center;
    margin: .5em;
    
    
    
}